{% extends 'main/shablon.html' %}

{% block title %}
Инструкции
{% endblock %}

{% block content %}
<div class="col">
<h1>
    Инструкции
</h1>
<p>
    Прежде чем добавлять вопросы, ознакомьтесь со списком пакетов вопросов, которые уже вбиваются кем-то.
    Чтобы не работать впустую, и чтобы в базе не было дублей, лучше работать над новым пакетом, НЕ из этого списка:<br>
</p>
<h3>
    {{ q|linebreaksbr }}
</h3>
<p>Поле год заполняется согласно тому, в каком календарном году проводился этап. При добавлении вопросов муниципального этапа следует заполнять поле этап следующим образом: МЭспб, МЭмск и т. п. Для других регионов уточните короткий буквенный код <a href="http://www.consultant.ru/document/cons_doc_LAW_319725/df75090e6a035591ffb91851784383a6789c4bdc/">здесь</a>.</p>
<p>
    <b>Самое главное - быть очень внимательным. Перепроверяйте то, что вбиваете.</b> Если вы всё же допустили ошибку и поняли это только после отправки формы, мы просим вас
    написать об этом на почту <a href='mailto:5methyluracil@gmail.com'>5methyluracil@gmail.com</a>, указав в теме письма "BioQ ошибка". Пишите туда же, если заметили ошибку в уже добавленных вопросах.
    <br>
    Есть несколько простых правил:
     <br>
    1. Ответы на вопросы нужно записывать следующим образом:
    1-я часть - одна строчная буква (а, б, в или г), 2-я часть - от 0 до 5 букв (например, "агд"), если в ключе ответов нет верных, введите N.
    Для частей, требующих установления соответствия принят такой формат: "1а 2б 3в 4а", для счетных задач с пунктами: "1-100 2-24.25 3-1/8"
    Важно вбивать именно "РЭ", а не "регион" или "региональный этап".
     <br>
    2. Не перепутайте ответ с комментарием, а иллюстрацию к вопросу с иллюстрацией к ответу!
    <br>
    3. Добавляйте какую-то тему вопроса, только если выбран соответствующий раздел. Например, если тема - экология, необходимо также добавить раздел "Другое". Несколько разделов в одном вопросе - это не беда. Соответствие разделов и тем смотрите ниже.
    <br>
    4. При написании разбора старайтесь оставлять ссылки на ресурс, который стоит изучить, не забудьте обосновать не только верность ответа, но и то, почему остальные НЕ верны. Не рекомендуется писать разбор вопроса по теме, в которой вы не очень ориентируетесь.
</p>
<p>
    <h5>Соответствия тем и разделов с ВАЖНЫМИ уточнениями:</h5>

    Анатомия и морфология растений: Анатомия корня; Анатомия листа;
    Анатомия стебля; Вегетативная морфология;
    Метаморфозы; Плод; Ткани растений; Цветок. К теме "вегетативная морфология" относятся вопросы, не попадающие в другие категории.
    <br>
    Биоразнообразие: Биогеография; Водоросли; Грибы; Протисты
    <br>
    Биохимия: Метаболизм (пути, ферменты); Методы; Структурная биохимия. В этот раздел НЕ входят вопросы по биохимии растений, но входят вопросы по физиологии и другим темам, требующие знания биохимических путей
    <br>
    Ботаника (другое): Размножение растений; Разнообразие голосемянных; Разнообразие споровых; Разнообразие цветковых. Во ВсОШ эти вопросы, как правило, составляет Жук А. В.
    <br>
    Другое: История науки; Названия и каламбуры; Палеонтология; Странные картинки; Ученые; Экология; Эмбриология; Этология

</p>
</div>
{% endblock %}
